@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* h1 {
  color: red;
}



.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}

.nav-items > ul {
  display: flex;
}
.nav-items > ul > li {
  list-style-type: none;
  margin: 0px 16px;
}

.res-card {
  border: 1px solid gray;
  width: 200px;
  background-color: lightseagreen;
  margin: 16px;
  padding: 12px;
  border-radius: 6px;
}

.res-card:hover {
  border: 2px solid blue;
  cursor: pointer;
}

.res-card .card-image {
  height: 150px;
  width: 200px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin-left: 12px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  border: 1px solid gray;
  width: 200px;
  background-color: lightseagreen;
  margin: 16px;
  height: 300px;
}

.filter {
  display: flex;
  margin: 16px 0px;
} */
